* {
  font-family: Helvetica;
  color: black;
  background-color: lightgray;
  opacity: 1;
  text-align: center;

}

.header{
            height:40px;
            background-color:blue;
            width:100%;
        }
